* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v701_996 {
  width: 100%;
  height: 800px;
  background: rgba(50,73,94,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v701_997 {
  width: 100%;
  height: 812px;
  background: url("../images/v701_997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v701_998 {
  width: 100%;
  height: 800px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v701_999 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 787px;
  left: 514px;
  font-family: Pridi;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v701_1000 {
  width: 23px;
  height: 23px;
  background: url("../images/v701_1000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 200px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v701_1002 {
  width: 87px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 31px;
  left: 1203px;
  font-family: Poly;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v701_1003 {
  width: 94px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 31px;
  left: 1094px;
  font-family: Poly;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v701_1004 {
  width: 77px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 31px;
  left: 1002px;
  font-family: Poly;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v701_1005 {
  width: 129px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 31px;
  left: 858px;
  font-family: Poly;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v701_1006 {
  width: 83px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 31px;
  left: 760px;
  font-family: Poly;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v701_1007 {
  width: 71px;
  height: 45px;
  background: url("../images/v701_1007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 71px;
  overflow: hidden;
}
.v701_1008 {
  width: 54px;
  height: 30px;
  background: rgba(50,73,94,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v701_1009 {
  width: 63px;
  height: 37px;
  background: rgba(233,82,88,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
}
.v701_1010 {
  width: 285px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 25px;
  left: 161px;
  font-family: Suez One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v701_1011 {
  width: 61px;
  height: 100%;
  background: rgba(72,100,125,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 0px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v701_1012 {
  width: 183px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 106px;
  left: 48px;
  font-family: Pridi;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1013 {
  width: 38px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 171px;
  left: 79px;
  font-family: Pridi;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1014 {
  width: 202px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 295px;
  left: 79px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1016 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 339px;
  left: 116px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1017 {
  width: 256px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 502px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v701_1018 {
  width: 147px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 469px;
  left: 79px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1019 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 469px;
  left: 517px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1020 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 586px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1021 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 614px;
  left: 494px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1022 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 614px;
  left: 78px;
  font-family: Pridi;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1025 {
  width: 105px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 424px;
  left: 79px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1026 {
  width: 53px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 563px;
  left: 79px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1028 {
  width: 132px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 424px;
  left: 586px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1057 {
  width: 38px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 424px;
  left: 500px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1029 {
  width: 43px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 563px;
  left: 494px;
  font-family: Pridi;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v701_1030 {
  width: 61px;
  color: rgba(50,73,94,1);
  position: absolute;
  top: 171px;
  left: 220px;
  font-family: Pridi;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v701_1038 {
  width: 154px;
  height: 50px;
  background: rgba(50,73,94,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 483px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v701_1039 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 173px;
  left: 544px;
  font-family: Pridi;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v701_1040 {
  width: 154px;
  height: 50px;
  background: rgba(69,151,255,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1037px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v701_1041 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 1086px;
  font-family: Pridi;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v701_1042 {
  width: 48px;
  height: 48px;
  background: rgba(233,82,88,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 1246px;
  border-radius: 50%;
}
.v701_1043 {
  width: 48px;
  height: 48px;
  background: rgba(233,82,88,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 768px;
  border-radius: 50%;
}
.v701_1045 {
  width: 34px;
  height: 34px;
  background: url("../images/v701_1045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 775px;
  overflow: hidden;
}
.v701_1047 {
  width: 29px;
  height: 29px;
  background: url("../images/v701_1047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 1051px;
  overflow: hidden;
}
